<ActionBar class="action-bar">
    <GridLayout rows="*" columns="2*,5*,*">
        <Image src="res://icon" class="page-icon" row="0" verticalAlignment="center" col="0" stretch="aspectFit"></Image>
        <Image src="res://account" class="account-icon" row="0" verticalAlignment="center" col="2" stretch="aspectFill" (tap)="onLogout()"></Image>
        <Label class="text-center action-bar-title" row="0" col="1" verticalAlignment="center" textWrap="true" text="Monitoring & Secure Recording Vital Signs for Asthmatic Patients"></Label>
    </GridLayout>
</ActionBar>
<Scrollview>
    <StackLayout  class="page ">
        <StackLayout paddingBottom="30" paddingTop="20">
            <Label class="text-center title" textWrap="true" text="View Daily Patient Vital Signs Recordings"></Label>
        </StackLayout>
        <StackLayout>
            <GridLayout rows="*,*" columns="*,6*,6*,*">
                <Label text="Reading Date" col="1" row="0"></Label>
                <Label [text]="currentDate" col="2" row="0"></Label>
                <Label text="Reading Time" col="1" row="1"></Label>
                <Label [text]="currentTime" col="2" row="1"></Label>
            </GridLayout>
        </StackLayout>

        <StackLayout class="hr-light" paddingTop="30" paddingBottom="30"></StackLayout>

        <StackLayout>
            <Label text="Select Medical Practitioner Name & Surname" textWrap="true" class="text-deep-bold"></Label>
            <TextField isUserInteractionEnabled="false" [text]="setSelectedText()"
                (tap)="openMedicalPractitionerBox()"></TextField>
            <Label [text]="errorText" *ngIf="errorText" color="red"></Label>
        </StackLayout>
        <!-- <StackLayout>
            <Label class="text-center" text="Select Medical Practitioner Name & Surname"></Label>
            <GridLayout rows="*" columns="*,8*,*" class="picker">
             <ListPicker row="0" col="1" [items]="medicalPractitioners" [selectedIndex]="index" (selectedIndexChange)="selectedIndexChanged($event)" class="p-15 picker"></ListPicker>
            </GridLayout>
        </StackLayout> -->
        <StackLayout paddingTop="20">
            <GridLayout rows="*" columns="*,8*,*">
                <Button class="btn btn-black" col="1" row="0" text="Read Blood Pressure From Wearable Device"></Button>
            </GridLayout>
        </StackLayout>
        <StackLayout>
            <GridLayout rows="*,*" columns="*,8*,6*,6*,*">
                <Label row="0" col="1" text="Blood Pressure"></Label>
                <Label row="0" col="2" class="underline" text="Lower"></Label>
                <Label row="0" col="3" class="underline" text="Higher"></Label>
                <Label row="1" col="2" text="0mmHg"></Label>
                <Label row="1" col="3" text="0mmHg"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout paddingTop="20">
            <GridLayout rows="*" columns="*,8*,*">
                <Button class="btn btn-black" col="1" row="0" text="Read Heart Rate From Wearable Device"></Button>
            </GridLayout>
        </StackLayout>
        <StackLayout>
            <GridLayout rows="*" columns="6*,2*">
                <TextField
                        class="input input-field"
                        returnKeyType="next"
                        keyboardType="number"
                        [autocorrect]="false"
                        autocapitalizationType="none"
                        col="0" row="0"
                        [(ngModel)]="vitalSignsModel.heartRate"
                ></TextField>
                <Label row="0" col="1" text="bt/min"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout paddingTop="20">
            <GridLayout rows="*" columns="*,8*,*">
                <Button class="btn btn-black" col="1" row="0" text="Read Body Temperature From Wearable Device"></Button>
            </GridLayout>
        </StackLayout>
        <StackLayout>
            <GridLayout rows="*" columns="6*,2*">
                <TextField
                        class="input input-field"
                        returnKeyType="next"
                        keyboardType="number"
                        [autocorrect]="false"
                        autocapitalizationType="none"
                        col="0" row="0"
                        [(ngModel)]="vitalSignsModel.bodyTemperature"
                ></TextField>
                <HtmlView class="bold" [html]="degreeCelcius" col="1" row="0"></HtmlView>
            </GridLayout>
        </StackLayout>
        <StackLayout paddingTop="20">
            <GridLayout rows="*" columns="*,*,*">
                <Button class="btn btn-black" col="1" row="0" text="Submit" (tap)="onCreateReadingRecord()"></Button>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</Scrollview>
