<StackLayout>
    <Label class="text-center" textWrap="true" text="Monitoring & Secure Recording Vital Signs for Asthmatic Patients"></Label>

<StackLayout  class="page ">
    <StackLayout paddingBottom="50" paddingTop="20">
        <Label class="text-center page-title" text="Login"></Label>
    </StackLayout>
    <StackLayout paddingBottom="30">
        <Button (tap)="goToPatientLogin()" class="btn btn-primary" text="Asthmatic Patient"></Button>
    </StackLayout>
    <StackLayout>
        <Button class="btn btn-primary" (tap)="goToMedicalPractitionerLogin()" text="Medical Practitioner"></Button>
    </StackLayout>
</StackLayout>
</StackLayout>
