<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Monitoring & Secure Recording Vital Signs for Asthmatic Patients"></Label>
</ActionBar>

<StackLayout class="page page-icon form" [formGroup]="form" paddingBottom="20">
    <StackLayout paddingBottom="50" paddingTop="20">
        <Label class="text-center page-title" text="AsthmaticPatient Login Screen"></Label>
    </StackLayout>
    <StackLayout>
        <TextField
                class="input input-field"
                returnKeyType="next"
                keyboardType="email"
                [autocorrect]="false"
                autocapitalizationType="none"
                formControlName="email"
                hint="Email"
                #emailEl
        ></TextField>
        <Label
                *ngIf="!emailControlIsValid"
                class="input-error"
                text="Please enter a valid email."
        ></Label>
    </StackLayout>
    <StackLayout class="">
        <TextField
                class="input input-field"
                returnKeyType="done"
                [autocorrect]="false"
                autocapitalizationType="none"
                [secure]="true"
                hint="Password"
                formControlName="password"
                (returnPress)="onDone()"
                #passwordEl
        ></TextField>
        <Label  class="input-error"
                *ngIf="!passwordControlIsValid"
                text="Must be 6+ characters long."
        ></Label>
    </StackLayout>
    <Button
            class="btn password-login-button"
            text="Login"
            (tap)="onSubmit()"
            [disabled]="!form.valid"
    ></Button>
    <Button text="Sign up" (tap)="goToSignup()"></Button>
    <!--<GridLayout class="text-center" columns="3">
        <Label col="0"></Label>
        <Label col="1" class="small" text="First Time User?"> </Label>
        <Label text="Click Here"  col="2" class="small" ></Label>
        <Label col="0"></Label>
        <Label text="Click Here" col="1" class="small" textWrap="true" ></Label>
        <Label col="2" text="First Time User?" class="small"> </Label>
    </GridLayout>-->

</StackLayout>
