<ActionBar class="action-bar">
    <Label class="action-bar-title" text="Monitoring & Secure Recording Vital Signs for Asthmatic Patients"></Label>
</ActionBar>
<ScrollView>
    <StackLayout  class="page ">
        <StackLayout paddingBottom="30" paddingTop="20">
            <Label class="text-center page-title" text="Readings from Wearable Device"></Label>
        </StackLayout>
        <StackLayout>
            <GridLayout rows="*,*" paddingBottom="10" columns="*,*,*">
                <Label row="0" col="0"  text="Reading Date"></Label>
                <Label  row="0" col="1"  text="#######"></Label>
                <Label row="0" col="2"  text="Auto"></Label>
                <Label row="1" col="0"  text="Reading Time"></Label>
                <Label  row="1" col="1"  text="#######"></Label>
                <Label row="1" col="2"  text="Auto"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
        <StackLayout>
            <GridLayout rows="*,*,*" columns="*,*">
                <Label row="0" col="0"  text="Reading ID (P.K)"></Label>
                <Label  row="0" col="1"  text="Auto"></Label>
                <Label row="1" col="0"  text="Patient ID (F.K)"></Label>
                <Label  row="1" col="1"  text="Auto (from Login Details)"></Label>
                <Label row="2" col="0"  text="Medical Practitioner ID (F.K)"></Label>
                <Label  row="2" col="1"  text="Auto"></Label>
            </GridLayout>
        </StackLayout>
        <StackLayout class="hr-light"></StackLayout>
        <StackLayout>
            <GridLayout rows="*,*,*" columns="*,*">
                <Label row="0" col="0"  text="Reading ID (P.K)"></Label>
                <Label  row="0" col="1"  text="Auto"></Label>
                <Label row="1" col="0"  text="Patient ID (F.K)"></Label>
                <Label  row="1" col="1"  text="Auto (from Login Details)"></Label>
                <Label row="2" col="0"  text="Medical Practitioner ID (F.K)"></Label>
                <Label  row="2" col="1"  text="Auto"></Label>
            </GridLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>
